body, html {
  margin: 0;
}

body {
  font-family: arial;
  font-size: 18px;
}

a {
  text-decoration: none;
  text-align: center;
}

h1 {
  color: white;
  /*Text-decoration: underline;*/
  background-color: #242424;
  padding: 25px 25px;
  font-size: 50px;
  text-align: center;
  border-radius: 0px;
  margin: 0;
}

h2 {
  color: black;
  text-decoration: none;
  background: rgba(255, 255, 255, .9);
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 10px;
}

h3 {
  text-decoration: underline;
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: 10px;
}

footer {
  display: flex;
  justify-content: left;
  opacity: 0.9;
  margin-left: 1%;
}

.accordion {
  background-color: #D1D1D1;
  margin-left: 1.5%;
  margin-right: 1.5%;
  color: black;
  cursor: pointer;
  padding: 16px;
  width: 97%;
  text-align: center;
  font-size: 16px;
  transition: 0.3s;
}

/*coleur de la section quand le menu est ouvert*/
.active, .accordion:hover {
  background-color: #242424;
  font-weight: bold;
  color: white;
}

/* Style the accordion panel. Note: hidden by default */
/*concerne l'interieur des sections*/
.panel {
  padding: 0 30px;
  background-color: white;
  display: none;
  overflow: hidden;
}

/*met le signe +*/
.accordion:after {
  content: '\02795';
  font-size: 15px;
  color: #777;
  float: right;
  margin-left: 5px;
}

/*met le signe - */
.active:after {
  content: "\2796";
}

/*le reste de la ligne du menu horizontal*/
.topnav {
  background-color: #242424;
  overflow: hidden;
}

/*mise en page horizontale du menu*/
.topnav a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  font-size: 22px;
}

/*couleur verte du bouton actif du menu*/
.topnav a.activea {
  background-color: #ffffff;
  color: black;
}

/*pour le fan art*/
.fan {
  position: absolute;
  top: 40px;
  right: 0;

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 28%;
}

/* The navigation menu */
.navbar {
  overflow: hidden;
  background-color: #242424;
}

/* Navigation links */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border: solid;
  border-color:#242424;
}

/* The subnavigation menu */
.subnav {
  float: left;
  overflow: hidden;
}

/*Subnav button */
.subnav .subnavbtn {
  font-size: 22px;
  border: none;
  outline: none;
  color: white;
  padding: 16px 16px;
  background-color: inherit;
  margin: 0;
}

/* Add a red background color to navigation links on hover */
.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: white;
  color: black;
  border: solid;
  border-color: #242424;
}

/* Style the subnav content - positioned absolute */
.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  /*background-color: none;*/
  width: 100%;
  z-index: 1;
}

/* Style the subnav content - positioned absolute */
.subnav-content {
  display: none;
  position: relative;
  left: 1;
  background-color: none;
  width: 100%;
  z-index: 1;
}

/* Style the subnav links */
.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

/* Add a grey background color on hover */
.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
  display: block;
}

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #242424;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/*links*/
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  height: 200px;
  padding-top: 40px;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.lien {
  padding: 0;
}


/*button top*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 0px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #242424;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
}

#myBtn:hover {
  padding: 18px;
  font-size: 24px;
}

.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

#titre {
  background-color: #242424;
  padding: 50px 10px;
  color: white;
  text-align: center;
  font-size: 95px;
  font-weight: bold;
  width: 100%;
  transition: 0.2s;
}

.c{
  margin-left:3%;
  max-width:67%;
}




/*rs illu*/
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-instagram {
  background: #EC504B;
  color: white;
}
.fa-tiktok {
  background: white;
  color: black;
}









.container {
  position: relative;
  /*width: 50%;*/
  /*max-width: 300px;*/
}

/* Make the image to responsive */
.image {
  display: block;
  width: 100%;
  height: auto;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
.container:hover .overlay {
  opacity: 1;
}